<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="carousel">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Carrusel</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="products">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Productos</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="edit-user">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label>Editar usuario</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="notifications">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
