<ion-header>
  <ion-toolbar>
    <ion-title>Videojuegos</ion-title>
    <ion-button (click)="loguts()" slot="end"
      ><ion-icon name="exit-outline"></ion-icon> Cerrar Sesion
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center !important;">
  <ion-slide>
    <ion-card>
      <img src="https://compass-ssl.xbox.com/assets/b7/6e/b76e2acc-f0da-45b6-b8c6-8ee352c53d70.jpg?n=115115115115_Super-Hero-1400_Multiplayer_1920x1080.jpg" alt="">
     </ion-card>
  </ion-slide>
  <br>
  <h1>
    NOMBRE DEL PRODUCTO
  </h1>

  <ion-button expand="block" (click)="elQR()"><ion-icon slot="icon-only" name="qr-code-outline"></ion-icon></ion-button>

</ion-content>
